.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    @include mobile-only{
        margin-top: 20px;
    }
    &-collapse-container{
        width: 75%;
        display: flex;
        justify-content: center;

    }
    &_logement{
        display: flex;
        flex-direction: row;
        width: 95%;
        &-container{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        @include mobile-only{
            flex-direction: column;
        }
    }
    &_item{
        width:90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-radius: 7px;

        @include mobile-only{
            margin-left: 0;
            width: 100%;
        }
        &_list{
            background-color: #F6F6F6;
            transition: height 0.3s ease-in-out;
            transition-delay: 0.1s;
            padding-top: 20px;
            margin-top: 0;
            padding-bottom: 30px;
            border-radius: 11px;
            position: relative;
            bottom: 6px;
            list-style-type: none;
            font-size: 18px;
            :before{
                transition:height 0.3s ease-in-out;
                transition-delay: 0.1s;  
            }
        }
        &_title{
            background-color: $color-primary ;
            color: $color-tertiary;
            padding-left: 20px;
            border-radius: 7px;
            line-height: 25px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            z-index: 2;
            @include mobile-only{
                font-size: 7px;
            }
            & span{
                margin-right: 30px;
            }
            & img{
                @include mobile-only{
                    width: 20px;
                }
            }
        }
        &_content{
            &_show{
                background-color: #F6F6F6;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                padding-top: 20px;
                margin-top: 0;
                padding-bottom: 30px;
                border-radius: 11px;
                position: relative;
                bottom: 6px;
                list-style-type: none;
                font-size: 18px;
                padding-left: 10px;
                color: $color-primary;
                margin-bottom: 0;
            }
        }
    }
}