.top{
    width: 90%;
    height: 68px;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &__logo{
        @include mobile-only{
            width: 100px;
        }
    }
    &__nav{
        & nav{
            display: flex;
            justify-content:flex-end;
            width: 100%;}
        
        &-text{
            font-size: 24px;
            line-height: 142.6%;
            padding-left: 22px;
            text-decoration: none;
            display: flex;
            align-items: flex-end;
            text-align: right;

            color: $color-primary;
            @include mobile-only{
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        &-active{
            text-decoration: underline;
        }
    }

}