.containerSlideshow{
    width: 90%;
    height: 450px;
    margin: auto;
    margin-top: 20px;
    @include mobile-only{
        height: 250px;
    }
}

.slides{
    height: 100%;
    position: relative;
    width: 100%;
    &_leftarrow{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 32px;
        font-size: 45px;
        color: $color-secundary;
        z-index: 1;
        cursor: pointer;
        @include mobile-only{
            width: 20px;
        }
    }
    &_img{
        & img{
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
        @include mobile-only{
            height: 250px;
        }
        }
        
    }
    &_rightarrow{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 32px;
        color: $color-secundary;
        z-index: 1;
        cursor: pointer;
        @include mobile-only{
            width: 20px;
        }
    }
    &_position{
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 2%;
        color: $color-secundary;
        font-weight: bold;
        font-size: 20px;

    }
}