.container{
    max-width:1240px;
    background-color: #F6F6F6;
    border-radius: 10px;
    position: absolute;
    top: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a{
        width: 340px;
        height: 340px;
    }
    & img{
        width: 340px;
        height: 340px;
    }
    & h2{
        position: absolute;
        bottom: 10px;
        color: white;
        width: 350px;
    }
}