.top{
    position: absolute;
    width: 1240px;
    height: 68px;
    top: 40px;
    display: flex;
    justify-content: space-between;
    &__logo{

    }
    &__nav{
        & nav{
            display: flex;
            justify-content:flex-end;
            width: 309px;
        }
        & a{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 142.6%;
            padding-right: 40px;
            /* or 34px */

            display: flex;
            align-items: flex-end;
            text-align: right;
            text-decoration-line: underline;

            color: #FF6060;
        }
    }

}