main{
    position: relative;
    width: auto;
    background: $color-secundary;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", serif;
}